body{
    background: #00c6ff;
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    background: linear-gradient(to right, #0072ff, #00c6ff);

}
h1{
    font-family: Helvetica, sans-serif;
}
p{
    text-decoration: none;
    text-transform: capitalize;
    text-shadow: none;
    font-size: x-large;
    font-family:Helvetica, sans-serif;
    font-weight: 200;
}
.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 25%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #0072ff;
}
.tablink {
    background-color: #cacaca;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}
  
.tablink:hover {
    background-color: #777;
}
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}  

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
#Quadri {background-color:rgb(255, 40, 40);}
#Symbolic {background-color:rgb(27, 233, 0);}
#Pictish_Swirl {background-color:rgb(0, 89, 255);}
#Gordian {background-color:yellow;}
#Over {background-color: aqua;}
.button:hover {
    background-color: #0072ff
}
.button:active {
    background-color: #0072ff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
